.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color: black;
}
.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    margin: 10px;
}
.btn:hover{
    border : 1px solid #fff;
}
.count{
    font-size: 30px;
    color: #000;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: gray;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    margin-bottom: 30px;
}